
<section id="cards" class="container pb-5">
  <div class="d-flex my-3">
    <div class="jumbotron w-90 py-5 mx-auto">
    <div class="row">
      <div class="col-lg-5 mb-4">
        <div class="card bg-primary text-white h-90">
          <div class="card-body d-flex flex-column align-items-start">
          <center>
            <h2>Log in</h2>
            <a href="/">Home</a>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>
            
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            
              <div class="actions">
                <%= f.submit "Log in" %>
              </div>
            <% end %>
            <br/>
            <button class="actions"><a href="/">Home</a></button>
            </center>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
</section>